############################
# NAOLIB API
############################
API_URL=https://data.nantesmetropole.fr/api/explore/v2.1/catalog/datasets/244400404_tan-arrets/records?limit=20

FETCH_INTERVAL=30

############################
# KAFKA
############################
KAFKA_BROKER=
KAFKA_TOPIC=

############################
# POSTGRES
############################
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=